html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    padding:0 65px 0 65px;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    background: linear-gradient(rgba(255, 255, 255, .5));
    display: flex;
    justify-content: space-between;
}

.intro {
    padding: 0 40px 30px 40px;
}

.tablinks.active {
    color: #E10A58;
}

.tablinks {
    font-size: 16px;
    margin: 22px 0 22px 64px;
    border-width: 0px;
    background-color: white;
    box-shadow: none !important;
}

.tabcontent {
    padding-top: 100px;
    display: none;
}

.tablinks:hover {
    cursor: pointer;
}