html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 65px 0 65px;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    /* background: linear-gradient(rgba(255, 255, 255, .5)); */
    display: flex;
    justify-content: space-between;
}

.intro {
    padding: 0 40px 30px 160px;
}

.intro h1 {
    font-weight: bold;
    font-size: 40px;
}

.intro p {
    font-size: 24px;
}

.tablinks.active {
    color: #E10A58;
}

.tablinks {
    font-size: 16px;
    margin: 22px 0 22px 64px;
    border-width: 0px;
    color: black;
    background-color: white;
    box-shadow: none !important;
}

.tabcontent {
    padding-top: 160px;
    display: none;
}

.tabcontent p {
    font-size: 22px;
}

.tabcontent h1 {
    font-size: 40px;
}

.tablinks:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.short-desc {
    margin: 0 110px 0 40px;
}

.clickable {
    font-weight: bold;
    width: fit-content;
    display: flex;
    color: #E10A58;
    cursor: pointer;
}

.arrowed {
    transform: translate(40px, 7px);
}

.arrow {
    height: 8px;
    width: 8px;
    border: 1px solid #E10A58;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}

.arrow:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    height: 2px;
    width: 25px;
    background-color: #E10A58;
    transform: rotate(-45deg) translate(-3px, 8px);
}

.work-header {
    font-weight: bolder;
    font-size: 40px;
    transform: rotate(270deg);
}

.work-experience {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
}

.work-lg-image {
    width: 40vw;
    min-width: 450px;
    transform: translate(14px, 0px);
    border-radius: 50px 0px 0px 50px;
}

.footer-container {
    margin: 0 0 80px 160px;
}

.footer-container h1 {
    font-size: 30px;
    font-weight: bold;
}

.footer-container p {
    font-size: 28px;
}

.work-skills {
    display: flex;
}

.work-skills h2 {
    font-weight: bold;
}

.work-skills-left {
    margin-right: 60px;
}

.work-logo {
    width: 81px;
}

.sm-logo {
    width: 50px;
    margin: 40px 20px 0 0;
}